<div class="">
  <%# body %>
  <div class="d-flex">
    <div class="me-3">
      <%= image_tag comment.user.avatar, class: "rounded-circle", width: 64, height: 64 %>
      <small class="text-center d-block mt-1" style="font-size: 10px"><%= comment.user.username %></small>
    </div>
    <div class="">
      <%= comment.body %>
      <div class="mt-2"></div>
      <%= render 'likes/form', commentable: comment, endpoint: comment_likes_path(comment) %>
    </div>
  </div>
</div>